body {
    background-color: rgb(202, 233, 221);
}

main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    color: aliceblue;
    text-shadow: rgb(45, 53, 50) 1px 0 10px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

section {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

nav {
    gap: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

a {
    color: rgb(255, 255, 255);
    text-shadow: rgb(44, 44, 43) 1px 0 10px;
}

a:hover {
    display: inline-block;
    color: blue;
    transform: rotate(-4deg);
}

h3 {
    color: aliceblue;
    text-shadow: rgb(44, 44, 43) 1px 0 10px;
}

img {
    box-shadow: rgb(44, 44, 43) 1px 0 20px;
}

iframe {
    box-shadow: rgb(44, 44, 43) 1px 0 20px;

}